html, body {
    font-family: Helvetica, sans-serif;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

.landing {
    overflow: hidden;
}

main {
    margin-bottom: 60px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

/*Nav Bar*/

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

#logo {
    width: auto;
}

#landing {
    position: absolute;
    left: 0;
    width: 60%;
}

.card {
    -webkit-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.2);
}

#overlay, #hamburger {
    display: none;
}

.page-title {
    text-align: center;
}

.lucy-title, .page-title {
    font-size: 30px;
    font-weight: bold;
    color: #C73C63;
    margin-bottom: 60px;
    margin-top: 60px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.blob {
    position:absolute;
    z-index: 1;
    bottom: -50px;
    right: -50px;
    width: 105%;
}

.main {
    width: 35%;
    position: absolute;
    z-index: 1;
    padding-left: 57vw;
    padding-top: 31vh;
}

.main .heading {
    font-size: 40px;
    color: #C73C63;
    font-weight: lighter;
    margin-bottom: 10px;
}

.main .body {
    color: #E87696;
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 50px;
    line-height: 2vh;
}

.main-buttons {
    display: flex;
    justify-content: space-between;
}

.main-buttons a, .defining-assault-top a {
    padding: 10px 20px;
    border: solid 2px #C73C63;
    display: inline-block;
    color: #C73C63;
    font-size: 15px;
    text-decoration: none;
}


#menu li:hover {
    font-weight: bold;
}

.main-buttons a:hover {
    color: white;
    background-color: #C73C63;
    transition: background-color 2s;
    transition: color 1s;
}


/* Defining Assault */

.defining-assault-top {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.random {
    margin-right: 35vw;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #C73C63;
}

.defining-assault-card {
    color: white;
    background-color:#C73C63;
    padding: 30px;
    line-height: 3vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.resources {
    display: flex;
}

.white-card {
    background-color: white;
    color: black;
    width: 70vw;
    padding: 20px 60px;
    border-radius: 5px;
    margin-left: 10px;
}
/* Content Credits Cards */

.credits-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.credits-card {
    color: white;
    background-color:#C73C63;
    border-radius: 5px;
    padding: 60px;
    width: 40%;
    font-size: 20px;
    line-height: 3vh;
}

/* Safety Exit Button */

.safety-exit {
    position: fixed;
    z-index: 1;
    padding: 20px 25px;
    background-color: #FFB7CB;
    border-radius: 20px 0px 0px 20px;
    bottom: 0;
    right: 0;
}

.safety-exit a {
    text-decoration: none;
    color: white;
}

.safety-exit:hover {
    background-color: #C73C63;
    transition: background-color 1s;
}

/* Stories */

.adam {
    display: flex;
    background-color:#C73C63;
    color: white;
}

.adam-button {
    padding: 10px 20px;
    border: solid 2px white;
    display: inline-block;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.adam-text {
    padding: 30px;
    display: flex;
    line-height: 3vh;
    flex-direction: column;
    justify-content: space-between;
}

.adam img {
    width: 100%;
}

.story {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.meet {
    width: 40%;
    display: flex;
    justify-content: space-between;
    line-height: 3vh;
}

.meet div {
    padding-left: 30px;
}

.meet img {
    width: 50vw;
}

.lucy img {
    width: 40vw;
}

.quote-card, .meet {
    background-color:#C73C63;
    color: white;
    padding: 30px;
}

.quote-card {
    width: 45vw;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 70%;
}

.lucy-bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* After An Assault */

.after-an-assault-recovery {
    background-image: url(../img/afterassaultbg.svg);
    /* background-size: cover; */
    background-size: cover;
}

.aaa-inside {
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 30px;
}

.after-an-assault-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.after-an-assault-top img {
    width: 90%;
}

.after-an-assault-top p {
    width: 100%;
    margin-left: 5vw;
    color: #E87696;
    text-align: center;
}

.after-card {
    width: 50%;
    padding: 30px 50px;
    color: white;
    background-color:#C73C63;
    display: flex;
    align-items: center;
}

.after-card-1 {
    margin-right: 30px;
}

.after-card-2 {
    margin-left: 30px;
}

.after-top {
    display: flex;
}

.article-heading {
    font-size: 25px;
    font-weight: bold;
}

.after-an-assault-content {
    display: flex;
    flex-direction: column;

}

.after-text {
    line-height: 5vh;
}

/* footer */

footer {
    background: #C73C63;
    color: white;
    padding: 20px 20px;
    text-align: center;
}

footer a {
    color: white;
}


/* nav desktop*/
@media (min-width: 768px) {
    nav {
        padding: 0 40px;
    }
    nav ul {
        display: flex;
        max-width: 500px;
        width: 100%;
        justify-content: space-between;
    }
}

/* nav mobile*/
@media (max-width: 767px) {
    nav {
        padding: 0 20px;
    }

    nav ul {
        display: none;
        max-width: 56vw;
        width: 100%;
        height: 100vh;
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
        z-index: 1;
    }

    nav ul.active {
        display: block;
    }

    nav ul li {
        padding: 20px;
    }

    #hamburger {
        display: block;
        height: 30px;
        width: auto;
    }

    #overlay {
        display: none;
        width: 100vw;
        height: 100vh;
        background: black;
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        z-index: 1;
    }

    #overlay.active {
        display: block;
    }

    #logo {
        width: 550px;
    }

    #logo img {
        width: 100px;
    }

    /* credits page mobile */ 
    @media (max-width: 767px) {
        .credits-cards {
           flex-direction: column;
           align-items: center;
           
        }
        .credits-card {
            margin-top: 30px;
        }
    }

    /* Landing Mobile */

    @media (max-width: 768px) {

        .blob {
            display: none;
        }

        .landing {
            overflow: unset;
        }

        .main {
            width: 85%;
            padding-left: 0;
            padding-top: 35vh;
        }

        #landing {
            width: 100%;
        }
        .main-buttons {
            flex-direction: column;
            text-align: center;
        }
        .main-buttons a {
            margin-bottom: 10px;
        }

        .main .body {
            margin-bottom: 30px;
        }

        .main {
            z-index: 0;
        }
        nav ul {
            z-index: 2;
        }
    }

    /* Defining Assault Mobile */
    @media (max-width: 768px) {
        .page-title {
            font-size: 28px;
        }

        .defining-assault-top {
            flex-direction: column;
            margin-bottom: 130px;
        }

        .defining-assault-top p {
            text-align: center;
            margin-right: 0 !important;
        }

        .defining-assault-card {
            line-height: 5vh;
        }

        .resources {
            flex-direction: column;
        }

        .white-card {
            width: 60vw;
            padding: 10px 40px;
            margin-left: 0 !important;
        }
      
    }

    /* After Assault Mobile */
    @media (max-width: 768px) {
        .after-top {
            flex-direction: column;
            align-items: center;
        }
    }

    /* Content Credits Mobile */
    @media (max-width: 768px) {
        .credits-card {
            width: 80%;
            font-size: 18px;
            padding: 40px;
        }
    }

    /* Stories Mobile */
    @media (max-width: 768px) {
        .adam {
            flex-direction: column-reverse;
        }

        .story {
            flex-direction: column;
        }

        .lucy-bio {
            flex-direction: column;
            justify-content: space-between;
            width: 80%;
            margin: auto;
        }

        .lucy img {
            margin-bottom: 30px;
            width: 80%;
        }

        iframe {
            width: 400px;
            height: 300px;
        }

        .meet {
            width: 90%;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 10px;
        }

    }
}

